<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title  === 'Dickinson'">
  este es Dickinson
</div>

<div *ngIf="title  === 'Laura'">
  este es Laura
</div>

<div *ngIf="title  === 'Juan'">
  este es Juan
</div>
<app-product [product]="products[3]"></app-product>

<div [ngSwitch]=title>
  <p *ngSwitchCase="'Dickinson'">Este es Dickinson</p>
  <p *ngSwitchCase="'Laura'">Este es Laura</p>
  <p *ngSwitchCase="'Juan'">Este es Juan</p>
  <p *ngSwitchDefault> no hay match</p>
</div>


<button (click)="additems()">Add Item</button>
<ul>
  <li *ngIf="items.length ===0">la lista esta vacia </li>
  <li *ngFor="let name of items; index as i ">
    {{i + ' '+ name}}
    <button (click)="deleteItems(i)">delete</button>
  </li>
</ul>
<div class="product-grid" >
<!-- para indicar los Outputs, escribe el nombre entre parentesis y se crea un metodo en el app. componet 
  que lo implementa -->
   <app-product 
    *ngFor="let p of products"
     (productClicked) ="clickProduct($event)"
      [product]="p">
     </app-product>
</div>